<%- include("../partials/header") %>

<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <!-- //form1 -->
            <div class="card" id="form-otp">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Forget Password</h4>
                    <form method="post">
                    <!-- <form id="forgetPasswordForm" method="post" action="/userForgetSubmit" onsubmit="return validateForm()"> -->
                    <div class="mb-3">
                        <div class="form-group">
                            <input type="text" class="form-control"  id="email" placeholder="Enter your email" name="email" required>
                            <div id="emailError" class="error-message text-danger"></div>
                        </div>
                    </div>
                       <div class="mb-3">
                            <button type="button" class="btn btn-primary btn-block" id="sendOTPButton" name="sendOTPButton" >Send OTP</button>
                        </div>

                        <div id="timer" style="display: none;"></div>

                        <div class="mb-3">
                            <label for="otp">Enter OTP</label>
                            <input type="text" class="form-control" id="otpInput" placeholder="Enter OTP" name="otpInput">
                        </div>
                        <!-- <div class="text-center"> -->
                            <!-- otp countdown -->
                            <!-- <span id="countdown"></span>
                            <a href="#" id="resendOTP">Resend OTP</a>
                        </div> -->
                        <div class="mb-3">
                            <button type="button" class="btn btn-success btn-block" id="verifyOTPButton" name="verifyOTPBtn">Verify OTP</button>
                        </div>
                        <!-- <div class="mb-3">
                            <button type="submit" class="btn btn-primary btn-block" id="submitButton" name="submitButton" >Submit</button>
                        </div> -->
                    </form>
                </div>
            </div>
            <!-- form1 end -->

<!-- form2 start -->
<div class="card" id="form-password">
    <div class="card-body">
        <h4 class="card-title text-center mb-4">Forget Password</h4>
        <form id="forgetPasswordForm2" method="post" action="/userForgetSubmit" onsubmit="return validateForm()">
            <div class="mb-3">
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Enter new password" name="password">
                    <div id="confirmpasswordError" class="error-message text-danger"></div>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <input type="password" class="form-control" id="confirm-password" placeholder="Re-enter new password" name="password2">
                    <div id="password2Error" class="error-message text-danger"></div>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-block" id="submitButton" name="submitButton">Submit</button>
            </div>
        </form>
    </div>
</div>
<!-- form2 end -->


            
        </div>
    </div>
</div>
<!-- Your HTML code remains unchanged -->
<!-- Your HTML code remains unchanged -->

<script>
    const sendOTPButton = document.getElementById("sendOTPButton");
    const verifyOTPButton = document.getElementById("verifyOTPButton");
    const submitButton = document.getElementById("submitButton");

    let countdown;
    let form1 = document.getElementById("form-otp");
    let form2 = document.getElementById("form-password");
    form2.style.display = "none";

    verifyOTPButton.disabled = true;

    sendOTPButton.addEventListener("click", function (e) {
    e.preventDefault();
    if (validateForm()) {
        const email = document.querySelector('input[name="email"]').value;

        fetch(`/forget-send-otp?email=${email}`)
            .then((response) => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then((data) => {
                console.log("Response from server", data);

                if (data.error) {
                    Swal.fire({
                        position: 'top-center',
                        icon: 'error',
                        title: data.error,
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else {
                    Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: 'OTP sent to email successfully',
                        showConfirmButton: false,
                        timer: 1500
                    });
                    verifyOTPButton.disabled = false;
                    startResendTimer();
                }
            })
            .catch((error) => {
                console.error("Error sending OTP", error);
            });
    }
});

    function validateForm() {
        resetErrorMessages();

        const email = document.getElementById('email').value;
        console.log("emai data : ",email);
        const emailPattern = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
        if (!email.match(emailPattern)) {
            showError('emailError', 'Invalid email address');
            return false;
        } else {
            return true;
        }
    }

    //function to show error message
    function showError(elementId, message){
        const errorElement = document.getElementById(elementId);
        errorElement.textContent = message;
    }

    function resetErrorMessages() {
        const errorElements = document.querySelectorAll('.error-message');
        errorElements.forEach((element) => {
            element.textContent = '';
        });
    }

    verifyOTPButton.addEventListener("click", function (e) {
    e.preventDefault();
    const otpInput = document.querySelector('input[name="otpInput"]').value;
    
    fetch(`/forget-verify-otp?otpInput=${otpInput}`, {
        method: "POST"
    })
    .then((response) => {
        // if (!response.ok) {
        //     throw new Error(`HTTP error! status: ${response.status}`);
        // }
        return response.json();
    })
    .then((data) => {
        console.log("Response from server", data);

        Swal.fire({
            position: 'top-center',
            icon: (data.message) ? 'success' : 'error',
            title: (data.message) ?  'success' : 'error',
            text:  (data.message) ? data.message : data.error,
            showConfirmButton: false,
            timer: 1500
        });

        if (data.message) {
            // OTP verification successful, hide Form 1 and show Form 2
            form1.style.display = "none";
            form2.style.display = "block";
        }
    })
    .catch((error) => {
        console.error("Error verifying OTP", error);
        
        Swal.fire({
            position: 'top-center',
            icon: 'error',
            title: 'Error verifying OTP',
            showConfirmButton: false,
            timer: 1500
        });
    });
});


    let timerElement = document.getElementById('timer');
    let resendOTPButton = document.getElementById('sendOTPButton');

    function startResendTimer() {
        let remainingTime = 60;
        timerElement.style.display = "block";
        resendOTPButton.style.display = "none";

        countdown = setInterval(() => {
            timerElement.textContent = `Resend in ${remainingTime} seconds`;
            remainingTime--;

            if (remainingTime < 0) {
                clearInterval(countdown);
                timerElement.style.display = "none";
                resendOTPButton.style.display = "block";
            }
        }, 1000);
    }
    // validation of passwords form2
//     document.addEventListener('DOMContentLoaded', function () {
//     submitButton.addEventListener("click", function(e){
//         e.preventDefault();

//         const password1 = document.getElementById('password').value;
//         const password2 = document.getElementById('confirm-password').value;
        
//         function validatePassword(){
//             resetErrorMessages();
//         // Validate passwordconfirmation
//       if (password1 !== password2) {
//         console.log("pwd verification");
//           showError('confirmpasswordError', 'Passwords do not match');
//           return false;
//       } else {   
//         document.getElementById('forgetPasswordForm2').submit();
//                 return true;

//       }
//     }
//     validatePassword();
// })
//     })
    // validation form2 end
    //start
    document.addEventListener('DOMContentLoaded', function () {
    submitButton.addEventListener("click", function (e) {
        e.preventDefault();

        const password1 = document.getElementById('password').value;
        const password2 = document.getElementById('confirm-password').value;

        function validatePassword() {
            resetErrorMessages();
            // Validate password confirmation
            if (password1 !== password2) {
                console.log("pwd verification");
                showError('confirmpasswordError', 'Passwords do not match');
                return false;
            } else {
                // Display success message using Swal.fire
                Swal.fire({
                    position: 'top-center',
                    icon: 'success',
                    title: 'Password changed successfully!',
                    showConfirmButton: false,
                    timer: 2000
                });

                // Submit the form after showing the success message
                document.getElementById('forgetPasswordForm2').submit();

                return true;
            }
        }

        validatePassword();
    })
});

    //end
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<!-- Your include for footer -->
<%- include("../partials/footer") %>