<%- include("../partials/header") %>
<body>
    


                      <div class="pt-5"  >
                      <button href="/userOtpSubmit" class="btn btn-light float-right  mx-3" >X</button>
                       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
      
                       <div class="d-flex justify-content-center continer">
                         <div class="card py-5 px-3 my-2">
                           <h5 class="m-0 ">Mobile phone verification</h5>
                           <!-- <span class="mobile-text"
                            <b>Enter the code we just sent on your phone</b>
                             <b class="text-color">+91 09899619282</b>
                           </span> -->
                           <br>
                           <div class="d-flex flex-row mt-3 mx-4">
                           <input type="text" placeholder="enter your mail id" name="email" class="form-control mx-3" />
                          </div>
                           <br>
                           <a action="/send_otp"  href="/send_otp" class="btn btn-primary sendOTPButton">Sent OTP</a>
                           <br>
                           <div class="d-flex flex-row mt-3 mx-4">
                             <input placeholder="enter 4 digit otp" type="text" name="otpInput" class="form-control mx-3 otp-input" />
                      
                         </div>
                           <div class="text-center mt-5">
                             <span class="d-block mobile-text" id="countdown"></span>
                             <span class="d-block mobile-text" id="resend"></span>
                           </div>
                           <br>
                           <a action="" class="btn btn-primary" id="resendOtp">Resend Otp</a>
                           <br>
                           <a action="/verify_otp" class="btn btn-primary" id="verifyOTPButton">Verify OTP</a>
                         </div>
                       </div>
                       </div>  

<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

                
<%- include("../partials/footer") %>