<%- include("../partials/header") -%>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img src="course-creator.png" class="card-img-top img-fluid" alt="Course Creator">
          <div class="card-body">
            <h5 class="card-title">Course Creator</h5>
            <p class="card-text">Create your own online courses with our easy-to-use platform.</p>
            <a href="#" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <h1>Upload Course Contents</h1>
        <div class="form-group">
          <label for="course-title">Course Title</label>
          <input type="text" class="form-control" id="course-title" placeholder="Enter a course title">
        </div>
        <div class="form-group">
          <label for="course-sections">Number of Sections</label>
          <input type="number" class="form-control" id="course-sections" placeholder="Enter the number of sections in your course">
        </div>
        <div class="form-group">
          <label for="course-duration">Total Course Duration</label>
          <input type="text" class="form-control" id="course-duration" placeholder="Enter the total duration of your course in HH:MM format">
        </div>
        <div class="form-group">
          <label for="course-content">Upload Course Contents</label>
          <input type="file" class="form-control" id="course-content" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
  <%- include("../partials/header") -%>
